@font-face {
  font-family: "Bagoss Standard";
  src: url("/fonts/BagossStandard-Medium.woff2") format("woff2"),
    url("/fonts/BagossStandard-Medium.woff") format("woff"),
    url("/fonts/BagossStandard-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Bagoss Standard";
  src: local("Bagoss Standard Regular"), local("Bagoss-Standard-Regular"),
    url("/fonts/BagossStandard-Regular.woff2") format("woff2"),
    url("/fonts/BagossStandard-Regular.woff") format("woff"),
    url("/fonts/BagossStandard-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "PHP Connect Pro";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("/fonts/SFProDisplay-Regular.woff2") format("woff2"),
    url("/fonts/SFProDisplay-Regular.woff") format("woff"),
    url("/fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

.tiny-clip-triangle {
  clip-path: path("M 0 29 Q 0 0 30 0 H 110 C 139 1 139 41 173 48 H 0 Z");
}